<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="API.utils.ExtentReportManager"></listener>
    </listeners>
    <test name="APITesting">
        <classes>
            <class name="API.tests.registerTest"/>
            <class name="API.tests.loginTest"/>
            <class name="API.tests.logoutTest"/>
        </classes>
    </test>
</suite>